h1 {
    text-align: center;
    color: black;
    padding-left: 50px;
}
h4 {
    padding-left: 50px;
}

p {
    text-align: justify;
    padding-left: 50px;
}

img {
    size: 20px;
    padding-left: 50px;
  }

